<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD.Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD.Site.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-4">

                    <a class="d-flex justify-content-center" href="@Url.Action("Index")">
                        <img class="logo-img" src="~/img/logo-JPV-imagem.png" />
                        <img class="logo-texto" src="~/img/logo-JPV-texto.png" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row text-center">
                <a target="blank" href="https://www.linkedin.com/in/lucas-giraldi-942b44193/">Lucas Henrique Giraldi</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/84adbfcb75.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
